body {
    background: url('../img/Zen-HD-Wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 70px;
    color: #000000;
    font-weight: bolder;

}

img.logo {
    width: 150px;
    height: 100px
}

.slideControl {
    font-size: 30px;
    color: rgba(101, 101, 101, 0.97);
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
    filter: alpha(opacity=50);
}

.slideControl.left {
    position: relative;
    z-index: 5;
    display: inline;
    float: left;
    top: 50%
}

.slideControl.right {
    position: relative;
    z-index: 5;
    display: inline;
    float: right;
    top: 50%
}

.slideControl:hover,
.slideControl:focus {
    color: #000000;
    text-decoration: none;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.ng-dirty.ng-valid.form-control {
    border-color: #468847;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.ng-dirty.ng-valid.form-control:focus {
    border-color: #356635;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
}

.ng-dirty.ng-invalid.form-control {
    border-color: #b94a48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.ng-dirty.ng-invalid.form-control:focus {
    border-color: #953b39;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

.mainContent {
    webkit-box-shadow: 0 1px 1px rgba(255, 251, 224, 0.85), 0 0 9px #000000;
    box-shadow: 0 1px 1px rgba(255, 251, 224, 0.85), 0 0 9px #000000;
    background-color: rgba(255, 251, 224, 0.85);
    border-top-left-radius: 30px;
    border-bottom-right-radius: 80px 40px;
    padding: 10px;
    min-height: 640px;
}

.controlsContainer {
    position: absolute;
    width: 100%;
    height: 640px;
    padding-left: 20px;
    padding-right: 20px;

}

#subTitle {
    margin-top: 20px;

}

.textWrapLeft {
    float: left;
    margin: 10px;
}

.textWrapRight {
    float: right;
    margin: 10px;

}

#subTitle > p:first-child {
    font-size: 22px
}

@media (min-width: 992px) {
.tag {

    -webkit-transition: -webkit-transform 0.1s ease-in;
    -moz-transition: -moz-transform 0.1s ease-in;
    -o-transition: -o-transform 0.1s ease-in;
    transition: transform 0.1s ease-in;

}
.tag:hover {
    /* Scaling transformation */
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

    a.tag:hover {
        /* Scaling transformation */
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }

}





