<div class=" row page-header">
    <h1>Enlaces Interesantes
        <small>De todo un poco</small>
    </h1>
</div>
<div class="row">
    <div class="col-md-3 col-sm-3">
        <a href="http://www.aetica.com" target="_blank" class="tag">AETICA</a>
    </div>
    <div class="col-md-9">
        <p>Asistencia Especializada Terapeútica integral en Cantabria
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-sm-3">
        <a href="http://www.feap.es" target="_blank" class="tag">FEAP</a>
    </div>
    <div class="col-md-9">
        <p>Federacion española de asociaciones de psicoterapeutas
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-sm-3">
        <a href="http://www.aphice.org" target="_blank" class="tag">APHICE</a>
    </div>
    <div class="col-md-9">
        <p>Asociacion de Psicoterapia Humanista Integrativa y Counselling de España.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-sm-3">
        <a href="http://www.cop.es" target="_blank" class="tag">COP</a>
    </div>
    <div class="col-md-9">
        <p>Colegio oficial de psicólogos de Cantabria
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-sm-3">
        <a href="http://www.galene.es" target="_blank" class="tag">Galene</a>
    </div>
    <div class="col-md-9">
        <p>Instituto Galene de Psicoterapia.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-sm-3">
        <a href="http://www.tasar-antiguedades.com" target="_blank" class="tag">Tasar-Antiguedades.com</a>
    </div>
    <div class="col-md-9">
        <p> Peritaje Judicial Grafologia y Psicografologia.
        </p>
    </div>
</div>