<div class="row">
    <div class="col-md-3 col-sm-3">

        <ul class="nav nav-pills nav-stacked">
            <li><a href="#/terapias/psicoterapia">Psicoterapia</a></li>
            <li> <a href="#/terapias/counselling">Counselling</a></li>
            <li> <a href="#/terapias/psicodiagnostico">Psicodiagnóstico</a></li>
            <li> <a href="#/terapias/online">Terapias Online</a></li>


        </ul>

    </div>
    <div class="col-md-9 col-sm-9" data-ui-view>

    </div>
</div>