<div class=" row page-header">
    <h1 class="col-md-12">Counselling</h1>
</div>
<div class="row">
    <img src="img/imagesCAFSRYLN.jpg" class="thumbnail textWrapLeft hidden-sm hidden-xs">
    <p class="col-md-12"> El Counselling es una relación de ayuda dirigido a personas que atraviesan conflictos, crisis
        o que buscan un mayor bienestar personal. Atiende a aquellos problemas de la vida cotidiana que suponen un
        problema o una dificultad, no concebido como enfermedad sino como sucesos normales propios de la vida diaria. El
        Counselling ofrece orientación psicológica a personas en cualquier etapa de su vida que busquen ayuda, abordando
        la situación con congruencia, empatía y respeto. </p>

    <p class="col-md-12">
        El counsellor es un Consultor psicológico, terapeuta, orientador o facilitador. El cliente demanda consulta
        psicológica y acompañamiento para clarificar, comprender, solucionar alguna situación vital. Para ello será
        fundamental crear un espacio adecuado. </p>

    <p class="col-md-12">
        Por tanto nos referimos a una relación de ayuda donde el counsellor intenta estimular y capacitar a la persona
        para la autoayuda. El counsellor no toma decisiones por el cliente si no que busca crear un clima de dialogo
        donde la persona pueda aclararse sobre sus problemas, liberarse y encontrar recursos personales y sociales que
        le permitan solucionar conflictos, activar su iniciativa y responsabilidad.</p>
</div>
