<div class=" row page-header">
    <h1 class="col-md-12">Terapias</h1>
</div>
<div class="row">
    <img src="img/índice099.jpg" class="thumbnail textWrapLeft hidden-sm hidden-xs">

    <p class="col-md-12"> La aplicación de diferentes técnicas y métodos de terapia es necesario para ajustar la
        Psicoterapia a cada caso particular y así tratar a la persona de manera integral. Esto permite a la persona
        elegir que tipo de terapia se ajusta más a su caso y a sí mismo.
    </p>

    <p class="col-md-12">
        El objetivo de la terapia es que el paciente se viva a sí mismo de manera más satisfactoria alejándose del
        dolor, abriéndose a nuevas experiencias de vida y acercándose a la armonía.
    </p>

    <p class="col-md-12">
        Por tanto creo que toda persona tiene dentro de sí la capacidad de mejorar su vida y la psicoterapia es una
        herramienta de ayuda en este descubrimiento.</p>
</div>