<div class=" row page-header">
    <h1 class="col-md-12">Terapias Online</h1>
</div>
<div class="row">
    <img src="img/online.jpg" class="thumbnail textWrapLeft hidden-sm hidden-xs">
    <p class="col-md-12">Para aquellas personas que por motivos personales o laborales no pueden desplazarse, se ha
        creado esta modalidad de psicoterapia, ayudándonos de las nuevas tecnologías, para poder llegar a estas personas
        y así no renunciar a la ayuda psicológica haciendo terapia desde casa.</p>

    <p class="col-md-12">
        La dinámica será de al menos una sesión presencial, normalmente la primera, como toma de contacto y
        conocimiento; y las restantes vía online.</p>

    <p class="col-md-12">
        Las sesiones a diferencia de las presenciales, se realizarán vía conferencia, lo mas común siendo a través de
        Skype. Para realizar este tipo de terapia es necesario disponer de ordenador, cámara web y micrófono, así como
        un espacio donde sentirte a gusto y con las menores interrupciones posibles.</p>

    <p class="col-md-12">
        Si no dispones de tiempo o tus circunstancias te lo impiden infórmate sobre esta modalidad.</p>
</div>
