<div class=" row page-header">
    <h1 class="col-md-12">Psicoterapia</h1>
</div>
<div class="row">
    <img src="../../../img/untitled2.png" class="thumbnail textWrapLeft hidden-sm hidden-xs">
    <p class="col-md-12"> La psicoterapia es una modalidad de tratamiento llevado a cabo por un psicoterapeuta (persona
        entrenada para favorecer y promover cambios) que, junto al paciente inician un proceso de comunicación
        encaminado a resolver los problemas que le han llevado a terapia.</p>

    <p class="col-md-12">
        Mediante esta relación profesional, la persona lleva a cabo un proceso de toma de conciencia sobre qué le está
        pasando en este momento. Con la ayuda del psicoterapeuta y su protección realiza distintas intervenciones
        encaminadas al objetivo del paciente. </p>

    <p class="col-md-12">
        La psicoterapia va dirigida a aquellas personas que se encuentran desbordadas por las situaciones actuales de su
        vida, que se sienten insatisfechas y desconocen de donde viene esa insatisfacción; que han intentado una y otra
        vez lo mismo y no le ha surtido efecto y que no encuentran los recursos necesarios para resolverlos. La
        psicoterapia permite indagar a nivel profundo sobre la persona y sobre como han influido sus vivencias pasadas
        en la forma de ver en el presente su mundo y así ir resolviendo.</p>

    <p class="col-md-12">
        Para ello me valgo de la Psicoterapia Humanista Integrativa para trabajar el conflicto interno del paciente a
        nivel emocional profundo, de cara a alcanzar la curación y el crecimiento del paciente. Basándome en una
        relación fuerte y protectora junto a una comunicación clara, directa y adulta; y una base de respeto profundo
        por el paciente y sus vivencias. Mediante mi acompañamiento ayudo a la persona a calmar su sufrimiento, curar
        sus conflictos y crecer.</p>
</div>


