<div class=" row page-header">
    <h1 class="col-md-12">Psicodiagnóstico</h1>
</div>
<div class="row">
    <img src="img/psico.jpg" class="thumbnail textWrapLeft hidden-sm hidden-xs">
    <p class="col-md-12"> El psicodiagnóstico es un servicio para toda aquella persona que necesiten o requieran una
        evaluación psicológica del estado de si mismos o de terceros.</p>

    <p class="col-md-12">
        Para realizar el psicodiagnóstico es necesario una entrevista personal, la aplicación de pruebas psicológicas
        adecuadas a cada caso con los que se obtendrá directrices de tratamiento, conclusiones o el diagnóstico
        requerido, haciendo una devolución de los mismos.</p>
</div>
