<div class=" row page-header">
    <h1 class="col-md-12">Áreas de Intervención</h1>
</div>
<div class="row">
    <img src="img/5fjdf.jpg" class="thumbnail textWrapLeft hidden-sm hidden-xs">
    <p class="col-md-12">
        En función de las necesidades y situación actual de la persona, ofrezco el tipo de terapia que más se ajusten a
        cada caso.</p>
</div>
