<div class=" row page-header">
    <h1 class="col-md-12">Terapia Familiar</h1>
</div>
<div class="row">
    <p class="col-md-12">Dirigido al sistema familiar que busque formas más saludables de relación o comunicación;
        promover el desarrollo de los integrantes del sistema familiar o modificar pautas generadoras de sufrimiento.
        Producto de situaciones como pueden ser: </p>
</div>
<div class="row">
    <ul class="col-md-4 list-unstyled" style="text-align: right">
        <li class="tag">Falta de apoyo emocional</li>
        <li class="tag">Déficit en comunicación</li>
        <li class="tag">Dificultades de resolución de problemas</li>
        <li class="tag">Problemas matrimoniales</li>
        <li class="tag">Preocupación por los hijos</li>
    </ul>
    <img src="img/images6678.jpg" class="col-md-4 hidden-sm hidden-xs"/>
    <ul class="col-md-4 list-unstyled" style="text-align: left">
        <li class="tag">Crisis de adolescencia</li>
        <li class="tag">Adicciones</li>
        <li class="tag">Desempleo</li>
        <li class="tag">Enfermedades</li>
        <li class="tag">Pérdida de uno de los miembros</li>
        <li class="tag">Problemas de separación</li>
    </ul>
</div>
<div class="row">
    <p class="col-md-12">Se solicitará la presencia de aquellos miembros de la familia que sean necesarios para la
        evolución positiva de la terapia así como aquellos que quieran participar. </p>
</div>