<div class=" row page-header" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
     xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
     xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
     xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <h1 class="col-md-12">Terapia Individual</h1>
</div>
<div class="row">
    <p class="col-md-12">De manera individual se aborda la problemática del paciente atendiendo a conflictos como pueden
        ser:</p>
</div>
<div class="row">

    <!-- No termina de gustarme pero no encuentro mejor solución -->
    <div class="col-md-4 list-unstyled" style="text-align: right">
        <li class="tag">Estrés</li>
        <li class="tag">Ansiedad</li>
        <li class="tag">Depresión</li>
        <li class="tag">Miedos</li>
        <li class="tag">Inseguridad</li>
        <li class="tag">Dificultad de manejo de emociones</li>
        <li class="tag">Problemas laborales</li>
        <li class="tag">Falta de autoestima</li>
    </div>
    <img src="img/images112.jpg" class="col-md-4 hidden-sm hidden-xs"/>

    <div class="col-md-4 list-unstyled" style="text-align: left">
        <li class="tag">Traumas</li>
        <li class="tag">Duelos y pérdidas</li>
        <li class="tag">Obsesiones</li>
        <li class="tag">Insatisfacción vital</li>
        <li class="tag">Dificultades de relación</li>
        <li class="tag">Adicciones</li>
        <li class="tag">Problemas de pareja</li>
        <li class="tag">Trastornos de personalidad</li>
        <li class="tag">Problema de Habilidades sociales y asertividad</li>
    </div>
</div>