<div class=" row page-header">
    <h1 class="col-md-12">Terapia de Pareja</h1>
</div>
<div class="row">
    <p class="col-md-12"> En la Terapia de pareja, ambos integrantes de la pareja de forma libre y autónoma deciden
        acudir, con el compromiso de abordar de forma conjunta la problemática que les impide funcionar de manera sana
        como pareja.

    <p>

    <p class="col-md-12">
        Dirigido a aquellas parejas que habiéndolo intentado todo, necesitan de un espacio imparcial donde poder
        comunicarse y resolver sus dificultades de relación. Atendiendo temas ligados a:
    </p>
</div>
<div class="row">
    <ul class="col-md-4 list-unstyled" style="text-align: right">
        <li class="tag">Paternidad/maternidad</li>
        <li class="tag">Celos</li>
        <li class="tag">Falta de comunicación</li>
        <li class="tag">Problema de limites</li>
        <li class="tag">Dependencia</li>
        <li class="tag">Co-dependencia</li>
    </ul>
    <img src="img/768779.jpg" class="col-md-4 hidden-sm hidden-xs"/>
    <ul class="col-md-4 list-unstyled" style="text-align: left">
        <li class="tag">Intimidad</li>
        <li class="tag">Compromiso</li>
        <li class="tag">Convivencia</li>
        <li class="tag">Afectos</li>
        <li class="tag">Rutina y aburrimiento</li>
        <li class="tag">Infidelidad</li>
    </ul>
</div>
