    <div class="row">
        <div class="col-md-3 col-sm-3">

                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="#/areasIntervencion/individual">Terapia Individual</a></li>
                        <li> <a href="#/areasIntervencion/pareja">Terapia de Pareja</a></li>
                        <li> <a href="#/areasIntervencion/familiares">Terapia Familiar</a></li>
                    </ul>

        </div>
        <div class="col-md-9 col-sm-9" data-ui-view>

        </div>
    </div>


