<div class=" row page-header">
    <h1>El Blog de Cristina
    </h1>
</div>

<div class="row" ng-show="posts.length==0 ">
    <article class="col-md-12 col-sm-12 col-xs-12 post-row article">
        <h3>Lo sentimos</h3>
        <p>Por desgracia no hay posts publicados todavía.</p>
        </article>
</div>
<div class="row" ng-repeat="post in posts">
    <article class="col-md-12 col-sm-12 col-xs-12 post-row article">
        <h3>
            <a href="#/blog/{{ post.id }}">{{ post.title }}</a>
            <small>{{ post.date | date:"'Escrito el' d/MM/yyyy 'a las' h:m:s" }}</small>
        </h3>
        <div ng-bind-html="post.excerpt"></div>
    </article>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <ul class="pager">
            <li ng-class="getClassForPrevious()"><a href="" ng-click="loadPrevious()">&larr; Posteriores</a></li>
            <li ng-class="getClassForNext()"><a href="" ng-click="loadNext()">Anteriores &rarr;</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 alert alert-danger" ng-show="showLoadError">
        <p>Ha ocurrido un error al intentar cargar el blog, por favor inténtelo de nuevo en unos instantes</p>
    </div>
</div>