<div class=" row page-header">
    <h1 class="col-md-12">¡Te estamos esperando!</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <ul>
            <li>Usa el <a href="#/contacto/formulario">Formulario Online</a> para enviarnos un mensage</li>
            <li>Usa el <a href="#/contacto/mapa">Mapa</a> para localizarnos</li>
        </ul>
    </div>
</div>
