<div class=" row page-header">
    <h1 class="col-md-12 col-sm-12">Contacta Online</h1>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12  col-xs-12" ng-show="exito">
        <p class="text-success">Consulta enviada con éxito</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12" ng-show="error">
        <p class="text-danger">Ha ocurrido un error al enviar la consulta, por favor inténtelo de nuevo</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <form class="form-horizontal" role="form" name="contactForm" novalidate>
            <div class="form-group">
                <label for="inputName" class="col-lg-2 control-label">Nombre</label>

                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputName" placeholder="Nombre"
                           ng-model="form.inputName"
                           name="inputName" ng-minlength="2" required>
                </div>
                <div class="col-lg-offset-2 col-lg-10"
                     ng-show="contactForm.inputName.$dirty && contactForm.inputName.$error">
                    <p ng-show="contactForm.inputName.$dirty && contactForm.inputName.$error.required"
                       class="text-danger">El nombre es obligatorio</p>

                    <p ng-show="contactForm.inputName.$dirty && contactForm.inputName.$error.minlength"
                       class="text-danger">El nombre debe tener más de dos caracteres</p>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="col-lg-2 control-label">Email</label>

                <div class="col-lg-10">
                    <input type="email" class="form-control" id="inputEmail" placeholder="Email"
                           ng-model="form.inputEmail"
                           required name="inputEmail">
                </div>
                <div class="col-lg-offset-2 col-lg-10"
                     ng-show="contactForm.inputEmail.$dirty && (contactForm.inputEmail.$error.email || contactForm.inputEmail.$error.required)">
                    <p class="text-danger">Debe introducir un email válido</p>
                </div>
            </div>
            <div class="form-group">
                <label for="inputSubject" class="col-lg-2 control-label">Asunto</label>

                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputSubject" placeholder="Asunto"
                           ng-model="form.inputSubject" required name="inputSubject" ng-minlength="2">
                </div>
                <div class="col-lg-offset-2 col-lg-10"
                     ng-show="contactForm.inputSubject.$dirty && contactForm.inputSubject.$error">
                    <p ng-show="contactForm.inputSubject.$dirty && contactForm.inputSubject.$error.required"
                       class="text-danger">El asunto es obligatorio</p>

                    <p ng-show="contactForm.inputSubject.$dirty && contactForm.inputSubject.$error.minlength"
                       class="text-danger">El asunto debe tener más de dos caracteres</p>
                </div>
            </div>
            <div class="form-group">
                <label for="inputContent" class="col-lg-2 control-label">Consulta</label>

                <div class="col-lg-10">
                    <textarea type="text" class="form-control" id="inputContent" placeholder="Consulta"
                              ng-model="form.inputContent" required name="inputContent" ng-minlength="10"/>
                </div>
                <div class="col-lg-offset-2 col-lg-10"
                     ng-show="contactForm.inputContent.$dirty && contactForm.inputContent.$error">
                    <p ng-show="contactForm.inputContent.$dirty && contactForm.inputContent.$error.required"
                       class="text-danger">Debe introducir una consulta</p>

                    <p ng-show="contactForm.inputContent.$dirty && contactForm.inputContent.$error.minlength"
                       class="text-danger">La consulta no puede ser tan corta</p>
                </div>
            </div>


            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button ng-click="send()" type="submit" ng-disabled="isSaveDisabled()" class="btn btn-default">
                        Enviar Consulta
                    </button>
                    <button ng-click="clearForm()" ng-disabled="isCancelDisabled()" class="btn btn-default">Cancelar
                    </button>
                </div>
            </div>
        </form>

    </div>

</div>
