<div class=" row page-header">
    <h1 class="col-md-12">Si nos buscas...</h1>
</div>

<div class="row">

    <div class="col-md-3 col-sm-3 col-xs-6">
        <!--<div class="row">-->
            <address> <!--class="col-md-6 col-sm-6 col-xs-12"-->
                <strong>Centro Aetica:</strong><br>
                Calle Juan de Herrera,<br>
                nº 2, 4º Izda.<br>
                Santander- Cantabria.<br>
                <abbr title="Phone">Tel:</abbr> 942051957- 608690890
            </address>

            <!--<div class="col-md-6 col-sm-6 hidden-xs">-->
                <!--<img src="img/atica%20FINAL_blanco%20MODIFICADO.jpg" class="thumbnail" id="logoAetica">-->
            <!--</div>-->

        <!--</div>-->

    </div>
    <div class=" col-md-9 col-sm-9 col-xs-6">
        <div class="google-map"
             center="position.coords"
             zoom="zoomProperty"
             markers="markersProperty"
             mark-click="true"
             draggable="true"
             fit="false"
             style="height: 400px;">
        </div>
    </div>
</div>
