
    <div class="row">
        <div class="col-md-3 col-sm-3">

                    <ul class="nav nav-pills nav-stacked">
                        <li> <a href="#/contacto/mapa">Donde Estamos</a></li>
                        <li> <a href="#/contacto/formulario">Contactar Online</a></li>


                    </ul>

        </div>
        <div class="col-md-9 col-sm-9" data-ui-view>

        </div>
    </div>



