<div id="intro-carousel" class="carousel slide">
    <div class="controlsContainer">
        <a class="slideControl left" href="#intro-carousel" data-slide="prev">
            <i class="icon-chevron-left"></i>
        </a>
        <a class="slideControl right" href="#intro-carousel" data-slide="next">
            <i class="icon-chevron-right"></i>
        </a>

    </div>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">

        <div class="item active row">
            <!--<div class="col-md-5 col-sm-6">-->
            <!--<img src="../img/Filofofia.jpg" class="thumbnail">-->
            <!--</div>-->
            <div class="col-md-12 col-sm-12 col-xs-12 marketting-info">
                <div class="page-header">
                    <h1>Filosofia</h1>
                </div>
                <img src="../img/índice8765.jpg" class="thumbnail textWrapLeft hidden-sm hidden-xs">

                <p>
                    Con mucho trabajo y dedicación he creado un espacio seguro donde compartir, reflexionar, crecer,
                    actualizarse, conseguir metas, superar conflictos y comprenderse. Todo ello con mucho amor,
                    honestidad y la confianza plena de que todos tenemos el potencial que nos lleva a crecer y nos
                    encamina al cambio.
                </p>

                <p>
                    Parto de la creencia de que el paciente es una persona capaz de elegir y decidir su vida, ser
                    autónomo y establecer sus metas. Así, a través del darse cuenta, de las emociones, del cuerpo, la
                    persona recobra la capacidad de ser, sintiéndose responsable de su existencia, una aventura de vivir
                    que se convierte en algo maravilloso y auténtico.
                </p>

                <p>
                    Mi objetivo es que la persona llegue donde quiera llegar. En un camino de autodescubrimiento donde
                    pueda reencontrarse con su esencia a través de un proceso de reflexión, toma de conciencia e
                    indagación en su yo interno.
                </p>

                <p>
                    Para ello ofrezco un modelo positivo, realista, cercano, profundo y protector donde fomentar,
                    desarrollar y aflorar lo natural y genuino de la persona; así como los propios recursos internos que
                    sean útiles para el cambio, mediante el desarrollo y actualización del sentido de la competencia,
                    autoestima, autonomía y armonia.
                </p>

                <p>
                    Mi aportación como terapeuta es principalmente acompañarte es este proceso de encuentro y me sirvo
                    de mi presencia y mi experiencia como soporte para estar tu lado mientras vas descubriéndote y
                    atreviéndote a ser lo que deseas.
                </p>

                <p>
                    Confiando en ti y en tu propio proceso podrás encaminarte hacia aquello que quieres conseguir,
                    adquiriendo un mayor bienestar, autonomía y autenticidad.
                    Con tu implicación personal y mi experiencia profesional en psicología y psicoterapia podrás lograr
                    el cambio.
                </p>
            </div>
        </div>
        <div class="item row">
            <div class="col-md-12 col-sm-12 col-xs-12 marketting-info">
                <div class="row">
                    <div class="page-header col-md-12 col-sm-12 col-xs-12">
                        <h1>Terapias</h1>
                    </div>
                </div>
                <div class="row">
                    <blockquote class=" pull-right col-md-12 col-sm-12 col-xs-12">
                        <p>“Cuando ya no somos capaces de cambiar la situación, nos encontramos ante el desafío de
                            cambiarnos a nosotros mismos”
                        </p>
                        <small>Viktor Frankl</small>
                    </blockquote>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <img src="../img/Terapias1.jpg" class="thumbnail textWrapRight hidden-sm hidden-xs">

                        <p>

                            La necesidad de hacer terapia surge de uno mismo, cuando percibe una persistente sensación
                            de
                            malestar o insatisfacción. Nos hacemos conscientes de que algo no esta yendo como deseamos
                            cuando
                            aparecen problemas y dificultades que, aunque lo intentemos, nos cuesta manejar.
                        </p>

                        <p>
                            Estamos inmersos en un ritmo de vida que nos genera múltiples situaciones de estrés,
                            angustia y
                            ansiedad. En algún momento de nuestra vida nos enfrentamos a crisis, muertes de seres
                            queridos,
                            problemas laborales y económicos, proyectos frustrados, enfermedades etc. Todo ello facilita
                            la
                            aparición de malestar emocional, preocupación e incluso desesperanza. Cuando alguna de estas
                            situaciones nos sobrepasan y las dificultades se empiezan a hacer cargo de nuestra vida, es
                            el
                            momento de pedir ayuda.
                        </p>

                        <p>
                            Por tanto para acudir a Terapia no necesariamente tienen que existir una patología, basta
                            que
                            sea
                            una situación problemática o que nos desborda.
                        </p>

                        <p>
                            Por ello si decides iniciar la terapia te estas ofreciendo tiempo para ti, para tenerte en
                            cuenta,
                            para dejarte ser y estar; y un espacio donde encontrarte, potenciar tus recursos, solucionar
                            problemas, compartir y decidir. Crea la oportunidad de conocerte y aceptarte, conectando con
                            tus
                            necesidades y su satisfacción.

                        </p>

                        <h3>
                            <a href="#/terapias/main" class="pull-right">Ir a Terapias</a>
                        </h3>
                    </div>
                </div>
            </div>
            <!--<div class="col-md-5 col-sm-6">-->
            <!--<img src="img/placeholder.jpg" class="thumbnail textWrapRight hidden-sm hidden-xs">-->
            <!--</div>-->
        </div>
        <div class="item row">
            <!--<div class="col-md-5 col-sm-6">-->
            <!--<img src="img/placeholder.jpg" class="thumbnail textWrapLeft hidden-sm hidden-xs">-->
            <!--</div>-->
            <div class="col-md-12 col-sm-12 col-xs-12 marketting-info">
                <div class="page-header">
                    <h1>Áreas de Intervención</h1>

                </div>
                <img src="../img/imagesCAOBLFZP.jpg" class="thumbnail textWrapLeft hidden-sm hidden-xs">

                <p>
                    A lo largo de la vida podemos experimentar diferentes situaciones problemáticas de forma <b>individual,
                    en pareja o en el núcleo familiar.</b> Todos nos enfrentamos a problemas que no sabemos resolver y
                    que
                    afectan a niños, adolescentes y adultos al vivir en interacción y relación con los demás.</p>

                <p>
                    Los problemas que surgen son tan diversos, específicos y únicos como la persona que los vive. Por
                    tanto mi ayuda se dirige a las dificultades que experimentan <b>Adultos y Adolescentes,</b> tanto
                    hombres
                    como mujeres con sus vivencias particulares y experiencias vitales propias.
                </p>

                <h3>
                    <a href="#/areasIntervencion/main" class="pull-left">Ir a Áreas de Intervención</a>
                </h3>
            </div>
        </div>
        <div class="item row">
            <div class="col-md-12 col-sm-12 col-xs-12 marketting-info">
                <div class="page-header">
                    <h1>Blog</h1>

                </div>
                <img src="../img/images0.jpg" class="thumbnail textWrapRight hidden-sm hidden-xs">

                <p>
                    El Blog de Cristina es un espacio donde crear, leer, reflexionar, conocer, opinar. Es una apertura a
                    la experiencia, al mundo, al cambio; un camino hacia la recuperación de la esencia y del significado
                    personal de vivir.</p>

                <p>
                    Es un guiño a lo genuino, a todo aquello que, como personas, sentimos, pensamos, vivimos... Es una
                    identificación de límites y barreras, un contacto con el poder personal, una búsqueda del amor por
                    uno mismo y por el otro, una aventura interna de descubrimiento del “Ser” humano y auténtico. </p>

                <p>
                    Es en definitiva un inquietante, aunque emocionante, maravilloso y sanador viaje hacia el interior.
                </p>

                <h3>
                    <a href="wordpress" class="pull-right">Leer Blog</a>
                </h3>
            </div>
            <!--<div class="col-md-5 col-sm-6">-->
            <!--<img src="/img/placeholder.jpg" class="thumbnail">-->
            <!--</div>-->
        </div>

    </div>
    <!-- Controls -->


</div>
